Main_Flows
[
    {
        "id": "6e18a1eb.dbf44",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a4992d0c.01574",
        "type": "tab",
        "label": "Flow 2",
        "disabled": true,
        "info": ""
    },
    {
        "id": "38397442.da017c",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a3e8960b.dc97a8",
        "type": "can-config",
        "name": "CanB",
        "socket": "can0",
        "bus": "can0",
        "dbFile": "1"
    },
    {
        "id": "de7b2f5d.6c7fe",
        "type": "mongodb",
        "hostname": "192.168.0.26",
        "port": "27017",
        "db": "test",
        "name": ""
    },
    {
        "id": "a0853939.77e168",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "port": "27017",
        "db": "test2",
        "name": ""
    },
    {
        "id": "9ce5f961.9dba48",
        "type": "canconfig",
        "channel": "can0",
        "bitrate": "500000"
    },
    {
        "id": "19b23d01.7d7153",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a1af9614.eae1e8",
        "type": "ui_tab",
        "name": "RPM",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9d30e79e.001108",
        "type": "ncd-comm",
        "name": "i2c-1",
        "bus": "1",
        "busManual": "",
        "commType": "standard",
        "addr": "0",
        "useMux": false,
        "muxAddr": "112",
        "muxPort": "0"
    },
    {
        "id": "2230de17.8b72a2",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "50424f91.133e2",
        "type": "ui_group",
        "name": "Speed",
        "tab": "a1af9614.eae1e8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b88fa9a0.2e20c8",
        "type": "ui_group",
        "name": "Data",
        "tab": "a1af9614.eae1e8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bffcdf85.8586f",
        "type": "canconfig",
        "channel": "can0",
        "bitrate": "500000"
    },
    {
        "id": "134c4084.17c26f",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "dc3b5974.450658",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "134c4084.17c26f",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "4e652aeb.c1fde4",
        "type": "debug",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 180,
        "wires": []
    },
    {
        "id": "ddc30d0f.af1c",
        "type": "function",
        "z": "6e18a1eb.dbf44",
        "name": "+ time",
        "func": "var ahora = new Date();  // obtengo la fecha y hora actual en un objeto de la clase \"Date\"\nmsg.payload={};\n\n// coloco la fecha en el mensaje como un campo del payload\n\n\nmsg.payload.date=ahora.getTime(); \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 200,
        "wires": [
            [
                "b694279e.7131f8"
            ]
        ]
    },
    {
        "id": "6f1b4fd2.68f3d",
        "type": "inject",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "START001",
        "payloadType": "str",
        "x": 240,
        "y": 340,
        "wires": [
            [
                "254f8f7d.1517c"
            ]
        ]
    },
    {
        "id": "a745b7e3.c50818",
        "type": "switch",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "property": "data[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "64",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "65",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "66",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 550,
        "y": 280,
        "wires": [
            [
                "2792c4af.17c28c",
                "de84a7c3.2dece8"
            ],
            [
                "672b6ddb.566894"
            ],
            [
                "e8cc6390.4b103"
            ]
        ]
    },
    {
        "id": "ea5813f0.c4c46",
        "type": "debug",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 340,
        "wires": []
    },
    {
        "id": "de84a7c3.2dece8",
        "type": "debug",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 420,
        "wires": []
    },
    {
        "id": "2792c4af.17c28c",
        "type": "function",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "func": "var mensaje=msg;\n\nmsg={payload:{\"subId\":0}};\nmsg.payload.date=mensaje.payload.date\nmsg.payload.subId=mensaje.data[0];\nmsg.payload.oilPress=mensaje.data[1]*256 + mensaje.data[2];\nmsg.payload.engSpeed=mensaje.data[3]*256 + mensaje.data[4];\nmsg.payload.engSpeed=mensaje.data[5]*256 + mensaje.data[6];\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 200,
        "wires": [
            [
                "4e652aeb.c1fde4",
                "40839bf5.d40014"
            ]
        ]
    },
    {
        "id": "672b6ddb.566894",
        "type": "function",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "func": "var mensaje=msg;\nmsg={payload:{\"subId\":0}};\nmsg.payload.subId=mensaje.data[0];\nmsg.payload.date=mensaje.payload.date\nmsg.payload.AT1=mensaje.data[4];\nmsg.payload.AT2=mensaje.data[1];\nmsg.payload.oilPress=mensaje.data[2]*256 + mensaje.data[3];\nmsg.payload.engSpeed=mensaje.data[5]*256 + mensaje.data[6];\n\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 260,
        "wires": [
            [
                "4e652aeb.c1fde4",
                "6244e39b.e13acc",
                "40839bf5.d40014",
                "ea5813f0.c4c46"
            ]
        ]
    },
    {
        "id": "e8cc6390.4b103",
        "type": "function",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "func": "var mensaje=msg;\nmsg={payload:{\"subId\":0}};\nmsg.payload.date=mensaje.payload.date\nmsg.payload.subId=mensaje.data[0];\nmsg.payload.oilPress=mensaje.data[1]*256 + mensaje.data[2];\nmsg.payload.engSpeed=mensaje.data[3]*256 + mensaje.data[4];\n\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 320,
        "wires": [
            [
                "4e652aeb.c1fde4",
                "40839bf5.d40014"
            ]
        ]
    },
    {
        "id": "40839bf5.d40014",
        "type": "csv",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": true,
        "x": 1070,
        "y": 360,
        "wires": [
            [
                "ea5813f0.c4c46",
                "f0d27fd9.7979b",
                "51f09bf7.d31f14",
                "da065fa.021caa"
            ]
        ]
    },
    {
        "id": "6244e39b.e13acc",
        "type": "change",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.engSpeed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 240,
        "wires": [
            [
                "a8500408.a7fc78"
            ]
        ]
    },
    {
        "id": "51f09bf7.d31f14",
        "type": "file",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "filename": "/home/pi/Logs/Log003.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1630,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a8500408.a7fc78",
        "type": "delay",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "pauseType": "rate",
        "timeout": "30",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "0.2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1310,
        "y": 240,
        "wires": [
            [
                "d9db10a7.ed8b2"
            ]
        ]
    },
    {
        "id": "6f32262d.90cdd8",
        "type": "debug",
        "z": "a4992d0c.01574",
        "name": "Output",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 990,
        "y": 320,
        "wires": []
    },
    {
        "id": "95059387.6afa7",
        "type": "debug",
        "z": "a4992d0c.01574",
        "name": "2nd Output",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1010,
        "y": 400,
        "wires": []
    },
    {
        "id": "97654ce1.689ab",
        "type": "debug",
        "z": "a4992d0c.01574",
        "name": "3rd Output",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1010,
        "y": 480,
        "wires": []
    },
    {
        "id": "e8249c22.17db6",
        "type": "function",
        "z": "a4992d0c.01574",
        "name": "Array",
        "func": "var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, msg2, msg3, msg4];",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 220,
        "wires": [
            [
                "6f32262d.90cdd8"
            ]
        ]
    },
    {
        "id": "1f8a8903.e07577",
        "type": "function",
        "z": "a4992d0c.01574",
        "name": "Array in Array",
        "func": "var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [[msg1, msg2, msg3, msg4]]",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 260,
        "wires": [
            [
                "6f32262d.90cdd8"
            ]
        ]
    },
    {
        "id": "2bf5496c.d40ab6",
        "type": "function",
        "z": "a4992d0c.01574",
        "name": "Multiple returns",
        "func": "var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, msg2, msg3, msg4];\n",
        "outputs": "3",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 340,
        "wires": [
            [
                "6f32262d.90cdd8"
            ],
            [
                "95059387.6afa7"
            ],
            [
                "97654ce1.689ab"
            ]
        ]
    },
    {
        "id": "18539f43.e7ac61",
        "type": "function",
        "z": "a4992d0c.01574",
        "name": "Multiple returns array in array",
        "func": "var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, [msg2, msg3], msg4];\n",
        "outputs": "3",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 400,
        "wires": [
            [
                "6f32262d.90cdd8"
            ],
            [
                "95059387.6afa7"
            ],
            [
                "97654ce1.689ab"
            ]
        ]
    },
    {
        "id": "867e2ae4.7981d8",
        "type": "function",
        "z": "a4992d0c.01574",
        "name": "Create JSON Object",
        "func": "msg.payload = {\"a\" : { \"b\" : \"test\"}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 480,
        "wires": [
            [
                "6f32262d.90cdd8",
                "324dc2f3.cdb23e"
            ]
        ]
    },
    {
        "id": "989dc3f3.67624",
        "type": "function",
        "z": "a4992d0c.01574",
        "name": "Create JSON String",
        "func": "msg.payload = '{\"a\" : { \"b\" : \"test\"}}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 520,
        "wires": [
            [
                "6f32262d.90cdd8",
                "324dc2f3.cdb23e"
            ]
        ]
    },
    {
        "id": "ca4a9a05.35b568",
        "type": "function",
        "z": "a4992d0c.01574",
        "name": "Create JSON String in msg.payload",
        "func": "msg.payload = '{\"a\" : { \"b\" : \"test\"}}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 560,
        "wires": [
            [
                "6f32262d.90cdd8",
                "48150def.b7eaf4"
            ]
        ]
    },
    {
        "id": "6aa765b7.95589c",
        "type": "function",
        "z": "a4992d0c.01574",
        "name": "return string in object",
        "func": "return {\"payload\" : \"Hello Coursera\"};",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 120,
        "wires": [
            [
                "6f32262d.90cdd8"
            ]
        ]
    },
    {
        "id": "48150def.b7eaf4",
        "type": "json",
        "z": "a4992d0c.01574",
        "name": "",
        "x": 630,
        "y": 560,
        "wires": [
            [
                "95059387.6afa7",
                "324dc2f3.cdb23e"
            ]
        ]
    },
    {
        "id": "324dc2f3.cdb23e",
        "type": "function",
        "z": "a4992d0c.01574",
        "name": "retrieve data from Object",
        "func": "msg.payload = msg.payload.a.b;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 790,
        "y": 470,
        "wires": [
            [
                "97654ce1.689ab"
            ]
        ]
    },
    {
        "id": "199f701e.e6609",
        "type": "inject",
        "z": "a4992d0c.01574",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "e8249c22.17db6"
            ]
        ]
    },
    {
        "id": "e069c78e.1f9638",
        "type": "inject",
        "z": "a4992d0c.01574",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "1f8a8903.e07577"
            ]
        ]
    },
    {
        "id": "184455e6.e7bbaa",
        "type": "inject",
        "z": "a4992d0c.01574",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "2bf5496c.d40ab6"
            ]
        ]
    },
    {
        "id": "bedfe3a7.41202",
        "type": "inject",
        "z": "a4992d0c.01574",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "18539f43.e7ac61"
            ]
        ]
    },
    {
        "id": "b816de9.f47e92",
        "type": "inject",
        "z": "a4992d0c.01574",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "867e2ae4.7981d8"
            ]
        ]
    },
    {
        "id": "a1442874.5ebbd8",
        "type": "inject",
        "z": "a4992d0c.01574",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "989dc3f3.67624"
            ]
        ]
    },
    {
        "id": "fd13e6ab.02ec18",
        "type": "inject",
        "z": "a4992d0c.01574",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "ca4a9a05.35b568"
            ]
        ]
    },
    {
        "id": "b85f2925.47a0d8",
        "type": "inject",
        "z": "a4992d0c.01574",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "6aa765b7.95589c"
            ]
        ]
    },
    {
        "id": "9e4aa39b.61b56",
        "type": "function",
        "z": "a4992d0c.01574",
        "name": "Status and logging functions",
        "func": "node.status({text:\"started\"});\n\nsetTimeout(function() {\n    node.status({fill:\"red\",shape:\"ring\",text:\"stage 1\"});\n    \n    setTimeout(function() {\n        node.status({fill:\"green\",shape:\"dot\",text:\"stage 2\"});\n        node.error(\"This is an error\", {'payload' : 'Caught error'});\n        \n        setTimeout(function() {\n            node.error(\"Second error\");\n            node.status({});\n            node.send({'payload' : 'Completed'});\n        }, 1000);\n        \n    }, 1000);\n    \n}, 1000);\n\nnode.warn(\"Exiting node\");\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 620,
        "wires": [
            [
                "6f32262d.90cdd8"
            ]
        ]
    },
    {
        "id": "c0816f04.3f7e9",
        "type": "inject",
        "z": "a4992d0c.01574",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "9e4aa39b.61b56"
            ]
        ]
    },
    {
        "id": "4c6c003f.b394",
        "type": "catch",
        "z": "a4992d0c.01574",
        "name": "Catch node",
        "scope": [
            "9e4aa39b.61b56"
        ],
        "x": 470,
        "y": 660,
        "wires": [
            [
                "2aada32c.d5525c"
            ]
        ]
    },
    {
        "id": "2a128c69.d5ed74",
        "type": "function",
        "z": "a4992d0c.01574",
        "name": "return string",
        "func": "return 'This is a string';",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 80,
        "wires": [
            [
                "6f32262d.90cdd8"
            ]
        ]
    },
    {
        "id": "e04ef678.1fb108",
        "type": "inject",
        "z": "a4992d0c.01574",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "2a128c69.d5ed74"
            ]
        ]
    },
    {
        "id": "2aada32c.d5525c",
        "type": "debug",
        "z": "a4992d0c.01574",
        "name": "entire msg",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1010,
        "y": 560,
        "wires": []
    },
    {
        "id": "adabf105.695bd",
        "type": "inject",
        "z": "38397442.da017c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "60",
        "payloadType": "str",
        "x": 600,
        "y": 300,
        "wires": [
            [
                "3def5b31.0ccec4"
            ]
        ]
    },
    {
        "id": "2f6d4526.134e3a",
        "type": "inject",
        "z": "38397442.da017c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "7",
        "payloadType": "num",
        "x": 510,
        "y": 540,
        "wires": [
            [
                "7d95599a.83fc98"
            ]
        ]
    },
    {
        "id": "928bc430.16bce8",
        "type": "debug",
        "z": "38397442.da017c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 540,
        "wires": []
    },
    {
        "id": "3def5b31.0ccec4",
        "type": "rpi-neopixels",
        "z": "38397442.da017c",
        "name": "",
        "gpio": 18,
        "pixels": "8",
        "bgnd": "black",
        "fgnd": "green",
        "wipe": "20",
        "mode": "pcent",
        "rgb": "grb",
        "brightness": "100",
        "gamma": false,
        "x": 870,
        "y": 300,
        "wires": []
    },
    {
        "id": "2a272971.9da586",
        "type": "inject",
        "z": "38397442.da017c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "7",
        "payloadType": "num",
        "x": 470,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "f3ca8c19.0b1f7",
        "type": "debug",
        "z": "38397442.da017c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1190,
        "y": 800,
        "wires": []
    },
    {
        "id": "d4dfb858.07b418",
        "type": "function",
        "z": "38397442.da017c",
        "name": "process i2c",
        "func": "var data = msg.payload;\nvar int16 = function(high, low) {\n  var result = (high << 8) | low;\n  // if highest bit is on, it is negative\n  return result >> 15 ? ((result ^ 0xFFFF) + 1) * -1 : result;\n};\n\n\nmsg.payload = {\n    accelerometer : {\n        x: int16(data[0], data[1]),\n        y: int16(data[2], data[3]),\n        z: int16(data[4], data[5])\n    },\n    temperature : int16(data[6], data[7]),\n    gyro : {\n        x: int16(data[8], data[9]),\n        y: int16(data[10], data[11]),\n        z: int16(data[12], data[13])\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1005,
        "y": 726,
        "wires": [
            [
                "f3ca8c19.0b1f7"
            ]
        ]
    },
    {
        "id": "3f74d031.847ab",
        "type": "inject",
        "z": "38397442.da017c",
        "name": "",
        "props": [
            {
                "p": "bytes",
                "v": "14",
                "vt": "num"
            },
            {
                "p": "address",
                "v": "105",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 449,
        "y": 730,
        "wires": [
            [
                "c2dd5e31.b3fed"
            ]
        ]
    },
    {
        "id": "881996c7.dcfd58",
        "type": "inject",
        "z": "38397442.da017c",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "x": 420,
        "y": 811,
        "wires": [
            [
                "527fcbca.d32d84"
            ]
        ]
    },
    {
        "id": "527fcbca.d32d84",
        "type": "function",
        "z": "38397442.da017c",
        "name": "i2c bytes",
        "func": "msg.command = [0x6B, 0x00];\nmsg.address= 105 ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 880,
        "wires": [
            [
                "b6f0a84c.edfaf8"
            ]
        ]
    },
    {
        "id": "d9db10a7.ed8b2",
        "type": "link out",
        "z": "6e18a1eb.dbf44",
        "name": "RPM_out",
        "links": [
            "50da49b8.b70a78"
        ],
        "x": 1465,
        "y": 160,
        "wires": []
    },
    {
        "id": "50da49b8.b70a78",
        "type": "link in",
        "z": "38397442.da017c",
        "name": "RPM_in",
        "links": [
            "d9db10a7.ed8b2"
        ],
        "x": 255,
        "y": 300,
        "wires": [
            [
                "93cdea98.24cf68"
            ]
        ]
    },
    {
        "id": "dcec30d7.99622",
        "type": "function",
        "z": "38397442.da017c",
        "name": "",
        "func": "var RPM = msg.payload;\nvar Led = 8;\nvar level;\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6 = {};\nvar msg7 = {};\nvar msg8 = {};\n\n\nlevel=Math.round(Led*RPM/12000);\nmsg.payload=level;\nif(level>0){\n    msg1.payload=\"1,50,0,0\";\n}\nelse\n    msg1.payload=\"1,0,0,0\";\nif(level>2){\n    msg2.payload=\"2,50,0,0\";\n}\nelse\n    msg2.payload=\"2,0,0,0\";\nif(level>3){\n    msg3.payload=\"3,50,0,0\";\n}\nelse\n    msg3.payload=\"3,0,0,0\";\nif(level>4){\n    msg4.payload=\"4,50,0,0\";\n}\nelse\n    msg4.payload=\"4,0,0,0\";\nif(level>5){\n    msg5.payload=\"5,50,0,0\";\n}\nelse\n    msg5.payload=\"5,0,0,0\";\nif(level>6){\n    msg6.payload=\"6,50,50,0\";\n}\nelse\n    msg6.payload=\"6,0,0,0\";\nif(level>7){\n    msg7.payload=\"7,0,50,0\";\n}\nelse\n    msg7.payload=\"7,0,0,0\";\nif(level>8){\n    msg8.payload=\"8,0,50,0\";\n}\nelse\n    msg8.payload=\"8,0,0,0\";\n\n\nreturn [msg,[msg1,msg2,msg3,msg4,msg5,msg6,msg7,msg8]];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ddf9ea26.aae328",
        "type": "debug",
        "z": "38397442.da017c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 60,
        "wires": []
    },
    {
        "id": "44462c6d.a7bdd4",
        "type": "inject",
        "z": "38397442.da017c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "str",
        "x": 590,
        "y": 340,
        "wires": [
            [
                "3def5b31.0ccec4"
            ]
        ]
    },
    {
        "id": "e426df47.f9cdc",
        "type": "inject",
        "z": "38397442.da017c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "80",
        "payloadType": "str",
        "x": 590,
        "y": 380,
        "wires": [
            [
                "3def5b31.0ccec4"
            ]
        ]
    },
    {
        "id": "a2280804.ef2e38",
        "type": "inject",
        "z": "38397442.da017c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5,0,50,0",
        "payloadType": "str",
        "x": 390,
        "y": 440,
        "wires": [
            [
                "3def5b31.0ccec4"
            ]
        ]
    },
    {
        "id": "72fa155f.26433c",
        "type": "inject",
        "z": "38397442.da017c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6,0,50,0",
        "payloadType": "str",
        "x": 390,
        "y": 480,
        "wires": [
            [
                "3def5b31.0ccec4"
            ]
        ]
    },
    {
        "id": "596197b7.4c5098",
        "type": "inject",
        "z": "38397442.da017c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4,50,0,0",
        "payloadType": "str",
        "x": 390,
        "y": 400,
        "wires": [
            [
                "3def5b31.0ccec4"
            ]
        ]
    },
    {
        "id": "d3e60c0c.bd8a7",
        "type": "function",
        "z": "38397442.da017c",
        "name": "",
        "func": "var RPM = msg.payload;\nvar level;\nlevel=Math.round(RPM/60);\n\n\n\nmsg.payload=level;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "93cdea98.24cf68",
        "type": "delay",
        "z": "38397442.da017c",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "0.1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 380,
        "y": 300,
        "wires": [
            [
                "945e2321.fa6ab",
                "abec1026.40e4b"
            ]
        ]
    },
    {
        "id": "945e2321.fa6ab",
        "type": "function",
        "z": "38397442.da017c",
        "name": "",
        "func": "var RPM = msg.payload;\nvar Led = 8;\nvar level;\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6 = {};\nvar msg7 = {};\nvar msg8 = {};\n\n\nlevel=Led*RPM*2/12000;\nmsg.payload=level;\n\nif(level>0 && level <2){\n    msg1.payload=\"0,50,0,0\";\n}\nif(level>2){\n    msg1.payload=\"0,100,0,0\";\n}\nelse\n    msg1.payload=\"0,0,0,0\";\n    \nif(level>3 && level <4){\n    msg2.payload=\"1,50,0,0\";\n}    \nif(level>4){\n    msg2.payload=\"1,100,0,0\";\n}\nelse\n    msg2.payload=\"1,0,0,0\";\n    \nif(level>5 && level <6){\n    msg3.payload=\"2,50,0,0\";\n}       \nif(level>6){\n    msg3.payload=\"2,100,0,0\";\n}\nelse\n    msg3.payload=\"2,0,0,0\";\n    \nif(level>7 && level <8){\n    msg4.payload=\"3,50,0,0\";\n}       \nif(level>8){\n    msg4.payload=\"3,100,0,0\";\n}\nelse\n    msg4.payload=\"3,0,0,0\";\n    \nif(level>9 && level <10){\n    msg5.payload=\"4,50,0,0\";\n}       \nif(level>10){\n    msg5.payload=\"4,100,0,0\";\n}\nelse\n    msg5.payload=\"4,0,0,0\";\n    \nif(level>11 && level <12){\n    msg6.payload=\"5,50,50,0\";\n}       \nif(level>12){\n    msg6.payload=\"5,100,100,0\";\n}\nelse\n    msg6.payload=\"5,0,0,0\";\n    \nif(level>13 && level <14){\n    msg7.payload=\"6,0,50,0\";\n}       \nif(level>14){\n    msg7.payload=\"6,0,100,0\";\n}\nelse\n    msg7.payload=\"6,0,0,0\";\n    \nif(level>15 && level <16){\n    msg8.payload=\"7,0,50,0\";\n}       \nif(level>16){\n    msg8.payload=\"7,0,100,0\";\n}\nelse\n    msg8.payload=\"7,0,0,0\";\n\n\nreturn [msg,[msg1,msg2,msg3,msg4,msg5,msg6,msg7,msg8]];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 40,
        "wires": [
            [
                "ddf9ea26.aae328"
            ],
            [
                "3def5b31.0ccec4"
            ]
        ]
    },
    {
        "id": "abec1026.40e4b",
        "type": "function",
        "z": "38397442.da017c",
        "name": "",
        "func": "var RPM = msg.payload;\nvar Led = 8;\nvar level;\nvar bri;\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6 = {};\nvar msg7 = {};\nvar msg8 = {};\n\n\nlevel=Led*RPM/12000;\nbri=Math.round(100*Math.abs(level-Math.round(level)));\nmsg.payload=bri;\nif(level>0){\n    msg1.payload=\"1,50,0,0\";\n}\nelse\n    msg1.payload=\"1,0,0,0\";\nif(level>2){\n    msg2.payload=\"2,50,0,0\";\n}\nelse\n    msg2.payload=\"2,0,0,0\";\nif(level>3){\n    msg3.payload=\"3,50,0,0\";\n}\nelse\n    msg3.payload=\"3,0,0,0\";\nif(level>4){\n    msg4.payload=\"4,50,0,0\";\n}\nelse\n    msg4.payload=\"4,0,0,0\";\nif(level>5){\n    msg5.payload=\"5,50,0,0\";\n}\nelse\n    msg5.payload=\"5,0,0,0\";\nif(level>6){\n    msg6.payload=\"6,50,50,0\";\n}\nelse\n    msg6.payload=\"6,0,0,0\";\nif(level>7){\n    msg7.payload=\"7,0,50,0\";\n}\nelse\n    msg7.payload=\"7,0,0,0\";\nif(level>8){\n    msg8.payload=\"8,0,50,0\";\n}\nelse\n    msg8.payload=\"8,0,0,0\";\n\n\nreturn [msg,[msg1,msg2,msg3,msg4,msg5,msg6,msg7,msg8]];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f0d27fd9.7979b",
        "type": "switch",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "property": "IsRecording",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1240,
        "y": 420,
        "wires": [
            [
                "da065fa.021caa"
            ]
        ]
    },
    {
        "id": "ef6d55fc.392038",
        "type": "inject",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1090,
        "y": 500,
        "wires": [
            [
                "1ea42658.33e9fa"
            ]
        ]
    },
    {
        "id": "1ea42658.33e9fa",
        "type": "change",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "IsRecording",
                "pt": "global",
                "from": "true",
                "fromt": "bool",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "IsRecording",
                "pt": "global",
                "from": "false",
                "fromt": "bool",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "da065fa.021caa",
        "type": "debug",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 420,
        "wires": []
    },
    {
        "id": "b694279e.7131f8",
        "type": "debug",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "f38b423e.bce03",
        "type": "candump",
        "z": "6e18a1eb.dbf44",
        "name": "candump",
        "vconfig": "bffcdf85.8586f",
        "x": 240,
        "y": 280,
        "wires": [
            [
                "ddc30d0f.af1c",
                "a745b7e3.c50818"
            ]
        ]
    },
    {
        "id": "254f8f7d.1517c",
        "type": "cansend",
        "z": "6e18a1eb.dbf44",
        "config": "9ce5f961.9dba48",
        "canid": "295",
        "payload": "",
        "x": 380,
        "y": 340,
        "wires": []
    },
    {
        "id": "b4111ae0.85cb88",
        "type": "ui_gauge",
        "z": "6e18a1eb.dbf44",
        "name": "engSpeed",
        "group": "50424f91.133e2",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "engSpeed",
        "label": "RPM",
        "format": "{{value}}",
        "min": 0,
        "max": "1200",
        "colors": [
            "#079ae4",
            "#eeff00",
            "#ff0000"
        ],
        "seg1": "500",
        "seg2": "800",
        "x": 1790,
        "y": 640,
        "wires": []
    },
    {
        "id": "7d95599a.83fc98",
        "type": "i2c scan",
        "z": "38397442.da017c",
        "name": "",
        "busno": "1",
        "x": 650,
        "y": 540,
        "wires": [
            [
                "928bc430.16bce8"
            ],
            []
        ]
    },
    {
        "id": "e46b9320.a8533",
        "type": "i2c scan",
        "z": "38397442.da017c",
        "name": "",
        "busno": "1",
        "x": 900,
        "y": 800,
        "wires": [
            [
                "f3ca8c19.0b1f7"
            ],
            []
        ]
    },
    {
        "id": "c2dd5e31.b3fed",
        "type": "i2c in",
        "z": "38397442.da017c",
        "name": "",
        "busno": "1",
        "address": "",
        "command": "",
        "count": "14",
        "x": 790,
        "y": 740,
        "wires": [
            [
                "d4dfb858.07b418",
                "f3ca8c19.0b1f7"
            ]
        ]
    },
    {
        "id": "b6f0a84c.edfaf8",
        "type": "i2c out",
        "z": "38397442.da017c",
        "name": "",
        "busno": "1",
        "address": "",
        "command": "",
        "payload": "payload",
        "payloadType": "msg",
        "count": "1",
        "x": 870,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "9cec9ef6.c9a0f",
        "type": "ncd-ads1115",
        "z": "38397442.da017c",
        "name": "",
        "connection": "9d30e79e.001108",
        "addr": "72",
        "interval": "50",
        "outputs": 1,
        "output_all": 0,
        "output_mult": 1,
        "channel_1": "4",
        "channel_2": "_none",
        "channel_3": "_none",
        "channel_4": "_none",
        "gain": 2,
        "mode": 1,
        "rate": "0",
        "compMode": 0,
        "compPol": 0,
        "compLat": 0,
        "compQueue": 3,
        "delay": "100",
        "x": 650,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "d3f88ad8.9faf28",
        "type": "ui_ui_control",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "events": "change",
        "x": 2020,
        "y": 260,
        "wires": [
            [
                "d029dd9b.b565d"
            ]
        ]
    },
    {
        "id": "dd5a4b23.705a48",
        "type": "ui_text",
        "z": "6e18a1eb.dbf44",
        "group": "dc3b5974.450658",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "OilPress",
        "format": "{{msg.payload.oilPress}}",
        "layout": "row-spread",
        "x": 2020,
        "y": 220,
        "wires": []
    },
    {
        "id": "369bcf0e.b179d",
        "type": "inject",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Tab 2",
        "payloadType": "str",
        "x": 1830,
        "y": 280,
        "wires": [
            [
                "d3f88ad8.9faf28",
                "d029dd9b.b565d"
            ]
        ]
    },
    {
        "id": "d029dd9b.b565d",
        "type": "debug",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2190,
        "y": 340,
        "wires": []
    },
    {
        "id": "9aa9e262.5186d",
        "type": "inject",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "RPM",
        "payloadType": "str",
        "x": 1810,
        "y": 240,
        "wires": [
            [
                "d3f88ad8.9faf28"
            ]
        ]
    },
    {
        "id": "ae5aa177.fb157",
        "type": "inject",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 1510,
        "y": 760,
        "wires": [
            [
                "3bf37784.002c08"
            ]
        ]
    },
    {
        "id": "42c26df7.4b9224",
        "type": "inject",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "N",
        "payloadType": "str",
        "x": 1500,
        "y": 800,
        "wires": [
            [
                "3bf37784.002c08"
            ]
        ]
    },
    {
        "id": "3bf37784.002c08",
        "type": "ui_template",
        "z": "6e18a1eb.dbf44",
        "group": "50424f91.133e2",
        "name": "Marcha",
        "order": 2,
        "width": "5",
        "height": "5",
        "format": "\n\n<html>\n<body>\n<p style=\"text-align: center;\">   \n<span style=\"font-size: 28px;\"> MARCHA:  <br> </span> \n<span style=\"font-size: 156px;\">  {{msg.payload}} </span>\n</p>\n\n</body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1780,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "5799f6d4.399de8",
        "type": "inject",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "240",
        "payloadType": "num",
        "x": 1490,
        "y": 640,
        "wires": [
            [
                "b4111ae0.85cb88"
            ]
        ]
    },
    {
        "id": "294ff81.c6a7008",
        "type": "inject",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "58",
        "payloadType": "num",
        "x": 1490,
        "y": 700,
        "wires": [
            [
                "bc34841e.1a9af8"
            ]
        ]
    },
    {
        "id": "e77a83b3.c5b9f",
        "type": "ui_template",
        "z": "6e18a1eb.dbf44",
        "group": "b88fa9a0.2e20c8",
        "name": "Temperature",
        "order": 2,
        "width": "0",
        "height": "0",
        "format": "\n\n<html>\n<body >\n<style>.nr-dashboard-Widget-Temperature{ \n    background-color:(msg.payload.colorfondo);\n    } \n</style>\n\n<p style=\"font-size: 28px;\"> Temperatura: &nbsp;\n<span style=\"font-size: 48px;\">  {{msg.payload.valor}} </span>\n</p>\n\n</body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1810,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "bc34841e.1a9af8",
        "type": "function",
        "z": "6e18a1eb.dbf44",
        "name": "color fondo",
        "func": "var valor = msg.payload;\nmsg.payload={};\n\nif (valor >= 0 && valor <= 40){\n    msg.payload.colorfondo= \"blue\";\n}\nelse if (valor >= 40 && valor <= 80){\nmsg.payload.colorfondo= \"yellow\";\n}\nelse if (valor >= 0 && valor <= 120){\nmsg.payload.colorfondo= \"red\";\n}\nmsg.payload.valor= valor;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1650,
        "y": 700,
        "wires": [
            [
                "e77a83b3.c5b9f",
                "e12b1a49.e2ead8"
            ]
        ]
    },
    {
        "id": "e12b1a49.e2ead8",
        "type": "debug",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1820,
        "y": 740,
        "wires": []
    }
]