Main_Flows
[
    {
        "id": "6e18a1eb.dbf44",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4e652aeb.c1fde4",
        "type": "debug",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 180,
        "wires": []
    },
    {
        "id": "ddc30d0f.af1c",
        "type": "function",
        "z": "6e18a1eb.dbf44",
        "name": "+ time",
        "func": "var ahora = new Date();  // obtengo la fecha y hora actual en un objeto de la clase \"Date\"\nmsg.payload={};\n\n// coloco la fecha en el mensaje como un campo del payload\n\n\nmsg.payload.date=ahora.getTime(); \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 200,
        "wires": [
            [
                "b694279e.7131f8"
            ]
        ]
    },
    {
        "id": "6f1b4fd2.68f3d",
        "type": "inject",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "START001",
        "payloadType": "str",
        "x": 240,
        "y": 340,
        "wires": [
            [
                "254f8f7d.1517c"
            ]
        ]
    },
    {
        "id": "a745b7e3.c50818",
        "type": "switch",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "property": "data[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "64",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "65",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "66",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 550,
        "y": 280,
        "wires": [
            [
                "2792c4af.17c28c",
                "de84a7c3.2dece8"
            ],
            [
                "672b6ddb.566894"
            ],
            [
                "e8cc6390.4b103"
            ]
        ]
    },
    {
        "id": "ea5813f0.c4c46",
        "type": "debug",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 340,
        "wires": []
    },
    {
        "id": "de84a7c3.2dece8",
        "type": "debug",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 420,
        "wires": []
    },
    {
        "id": "2792c4af.17c28c",
        "type": "function",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "func": "var mensaje=msg;\n\nmsg={payload:{\"subId\":0}};\nmsg.payload.date=mensaje.payload.date\nmsg.payload.subId=mensaje.data[0];\nmsg.payload.oilPress=mensaje.data[1]*256 + mensaje.data[2];\nmsg.payload.engSpeed=mensaje.data[3]*256 + mensaje.data[4];\nmsg.payload.engSpeed=mensaje.data[5]*256 + mensaje.data[6];\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 200,
        "wires": [
            [
                "4e652aeb.c1fde4",
                "40839bf5.d40014"
            ]
        ]
    },
    {
        "id": "672b6ddb.566894",
        "type": "function",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "func": "var mensaje=msg;\nmsg={payload:{\"subId\":0}};\nmsg.payload.subId=mensaje.data[0];\nmsg.payload.date=mensaje.payload.date\nmsg.payload.AT1=mensaje.data[4];\nmsg.payload.AT2=mensaje.data[1];\nmsg.payload.oilPress=mensaje.data[2]*256 + mensaje.data[3];\nmsg.payload.engSpeed=mensaje.data[5]*256 + mensaje.data[6];\n\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 260,
        "wires": [
            [
                "4e652aeb.c1fde4",
                "6244e39b.e13acc",
                "40839bf5.d40014",
                "ea5813f0.c4c46",
                "40e5f585.c415fc"
            ]
        ]
    },
    {
        "id": "e8cc6390.4b103",
        "type": "function",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "func": "var mensaje=msg;\nmsg={payload:{\"subId\":0}};\nmsg.payload.date=mensaje.payload.date\nmsg.payload.subId=mensaje.data[0];\nmsg.payload.oilPress=mensaje.data[1]*256 + mensaje.data[2];\nmsg.payload.engSpeed=mensaje.data[3]*256 + mensaje.data[4];\n\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 320,
        "wires": [
            [
                "4e652aeb.c1fde4",
                "40839bf5.d40014"
            ]
        ]
    },
    {
        "id": "40839bf5.d40014",
        "type": "csv",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": true,
        "x": 1070,
        "y": 360,
        "wires": [
            [
                "ea5813f0.c4c46",
                "f0d27fd9.7979b",
                "51f09bf7.d31f14",
                "da065fa.021caa"
            ]
        ]
    },
    {
        "id": "6244e39b.e13acc",
        "type": "change",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.engSpeed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 240,
        "wires": [
            [
                "a8500408.a7fc78"
            ]
        ]
    },
    {
        "id": "51f09bf7.d31f14",
        "type": "file",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "filename": "/home/pi/Logs/Log003.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1630,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a8500408.a7fc78",
        "type": "delay",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "pauseType": "rate",
        "timeout": "30",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "0.2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1310,
        "y": 240,
        "wires": [
            [
                "b4111ae0.85cb88",
                "d9db10a7.ed8b2"
            ]
        ]
    },
    {
        "id": "d9db10a7.ed8b2",
        "type": "link out",
        "z": "6e18a1eb.dbf44",
        "name": "RPM_out",
        "links": [
            "50da49b8.b70a78"
        ],
        "x": 1465,
        "y": 160,
        "wires": []
    },
    {
        "id": "f0d27fd9.7979b",
        "type": "switch",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "property": "IsRecording",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1240,
        "y": 420,
        "wires": [
            [
                "da065fa.021caa"
            ]
        ]
    },
    {
        "id": "ef6d55fc.392038",
        "type": "inject",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1090,
        "y": 500,
        "wires": [
            [
                "1ea42658.33e9fa"
            ]
        ]
    },
    {
        "id": "1ea42658.33e9fa",
        "type": "change",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "IsRecording",
                "pt": "global",
                "from": "true",
                "fromt": "bool",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "IsRecording",
                "pt": "global",
                "from": "false",
                "fromt": "bool",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "da065fa.021caa",
        "type": "debug",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 420,
        "wires": []
    },
    {
        "id": "b694279e.7131f8",
        "type": "debug",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "f38b423e.bce03",
        "type": "candump",
        "z": "6e18a1eb.dbf44",
        "name": "candump",
        "vconfig": "bffcdf85.8586f",
        "x": 240,
        "y": 280,
        "wires": [
            [
                "ddc30d0f.af1c",
                "a745b7e3.c50818"
            ]
        ]
    },
    {
        "id": "254f8f7d.1517c",
        "type": "cansend",
        "z": "6e18a1eb.dbf44",
        "config": "9ce5f961.9dba48",
        "canid": "295",
        "payload": "",
        "x": 380,
        "y": 340,
        "wires": []
    },
    {
        "id": "b4111ae0.85cb88",
        "type": "ui_gauge",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "group": "50424f91.133e2",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "engSpeed",
        "label": "RPM",
        "format": "{{value}}",
        "min": 0,
        "max": "12000",
        "colors": [
            "#ffff00",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "2000",
        "seg2": "8000",
        "x": 1650,
        "y": 240,
        "wires": []
    },
    {
        "id": "40e5f585.c415fc",
        "type": "ui_text",
        "z": "6e18a1eb.dbf44",
        "group": "b88fa9a0.2e20c8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "OilPress",
        "format": "{{msg.payload.oilPress}}",
        "layout": "row-spread",
        "x": 1660,
        "y": 280,
        "wires": []
    },
    {
        "id": "d3f88ad8.9faf28",
        "type": "ui_ui_control",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "events": "change",
        "x": 2020,
        "y": 260,
        "wires": [
            [
                "d029dd9b.b565d"
            ]
        ]
    },
    {
        "id": "dd5a4b23.705a48",
        "type": "ui_text",
        "z": "6e18a1eb.dbf44",
        "group": "dc3b5974.450658",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "OilPress",
        "format": "{{msg.payload.oilPress}}",
        "layout": "row-spread",
        "x": 2020,
        "y": 220,
        "wires": []
    },
    {
        "id": "369bcf0e.b179d",
        "type": "inject",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Tab 2",
        "payloadType": "str",
        "x": 1830,
        "y": 280,
        "wires": [
            [
                "d3f88ad8.9faf28",
                "d029dd9b.b565d"
            ]
        ]
    },
    {
        "id": "d029dd9b.b565d",
        "type": "debug",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2190,
        "y": 340,
        "wires": []
    },
    {
        "id": "9aa9e262.5186d",
        "type": "inject",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "RPM",
        "payloadType": "str",
        "x": 1810,
        "y": 240,
        "wires": [
            [
                "d3f88ad8.9faf28"
            ]
        ]
    },
    {
        "id": "ae5aa177.fb157",
        "type": "inject",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 1520,
        "y": 60,
        "wires": [
            [
                "3bf37784.002c08"
            ]
        ]
    },
    {
        "id": "42c26df7.4b9224",
        "type": "inject",
        "z": "6e18a1eb.dbf44",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "N",
        "payloadType": "str",
        "x": 1510,
        "y": 100,
        "wires": [
            [
                "3bf37784.002c08"
            ]
        ]
    },
    {
        "id": "3bf37784.002c08",
        "type": "ui_template",
        "z": "6e18a1eb.dbf44",
        "group": "50424f91.133e2",
        "name": "Marcha",
        "order": 2,
        "width": "4",
        "height": "6",
        "format": "\n\n<html>\n<body>\n\n<p style=\"font-size: 128px;\">  {{msg.payload}} </p>\n\n\n</body>\n</html>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1790,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "bffcdf85.8586f",
        "type": "canconfig",
        "channel": "can0",
        "bitrate": "500000"
    },
    {
        "id": "9ce5f961.9dba48",
        "type": "canconfig",
        "channel": "can0",
        "bitrate": "500000"
    },
    {
        "id": "50424f91.133e2",
        "type": "ui_group",
        "name": "Speed",
        "tab": "a1af9614.eae1e8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b88fa9a0.2e20c8",
        "type": "ui_group",
        "name": "Data",
        "tab": "a1af9614.eae1e8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dc3b5974.450658",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "134c4084.17c26f",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "a1af9614.eae1e8",
        "type": "ui_tab",
        "name": "RPM",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "134c4084.17c26f",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    }
]