Main_Flows
[
    {
        "id": "e82a8e.ce27057",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "819dfad1.81d098",
        "type": "tab",
        "label": "Flow 2",
        "disabled": true,
        "info": ""
    },
    {
        "id": "e86feed2.4c8c3",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a3e8960b.dc97a8",
        "type": "can-config",
        "name": "CanB",
        "socket": "can0",
        "bus": "can0",
        "dbFile": "1"
    },
    {
        "id": "de7b2f5d.6c7fe",
        "type": "mongodb",
        "hostname": "192.168.0.26",
        "port": "27017",
        "db": "test",
        "name": ""
    },
    {
        "id": "a0853939.77e168",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "port": "27017",
        "db": "test2",
        "name": ""
    },
    {
        "id": "9ce5f961.9dba48",
        "type": "canconfig",
        "channel": "can0",
        "bitrate": "500000"
    },
    {
        "id": "19b23d01.7d7153",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a1af9614.eae1e8",
        "type": "ui_tab",
        "name": "RPM",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9d30e79e.001108",
        "type": "ncd-comm",
        "name": "i2c-1",
        "bus": "1",
        "busManual": "",
        "commType": "standard",
        "addr": "0",
        "useMux": false,
        "muxAddr": "112",
        "muxPort": "0"
    },
    {
        "id": "50424f91.133e2",
        "type": "ui_group",
        "name": "Alarmas y velocidad",
        "tab": "a1af9614.eae1e8",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b88fa9a0.2e20c8",
        "type": "ui_group",
        "name": "Data",
        "tab": "a1af9614.eae1e8",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bffcdf85.8586f",
        "type": "canconfig",
        "channel": "can0",
        "bitrate": "500000"
    },
    {
        "id": "134c4084.17c26f",
        "type": "ui_tab",
        "name": "tab2",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dc3b5974.450658",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "134c4084.17c26f",
        "order": 1,
        "disp": false,
        "width": 18,
        "collapse": false
    },
    {
        "id": "273f8539.ca9a0a",
        "type": "ui_group",
        "name": "Marcha_RPM",
        "tab": "a1af9614.eae1e8",
        "order": 2,
        "disp": false,
        "width": "5",
        "collapse": false
    },
    {
        "id": "6f40f24.04b410c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "273f8539.ca9a0a",
        "order": 1,
        "width": "5",
        "height": "3"
    },
    {
        "id": "6e16b30f.cae60c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "b88fa9a0.2e20c8",
        "order": 1,
        "width": 6,
        "height": "2"
    },
    {
        "id": "7ff42b80.fea334",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "50424f91.133e2",
        "order": 3,
        "width": "6",
        "height": "3"
    },
    {
        "id": "509fcbb7.0a6bf4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "b88fa9a0.2e20c8",
        "order": 6,
        "width": "6",
        "height": "2"
    },
    {
        "id": "c721dc1e.5354c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "50424f91.133e2",
        "order": 5,
        "width": "6",
        "height": "2"
    },
    {
        "id": "ea74287f.8f8b38",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "50424f91.133e2",
        "order": 1,
        "width": "6",
        "height": "1"
    },
    {
        "id": "67f49b46.e5ead4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dc3b5974.450658",
        "order": 1,
        "width": "18",
        "height": 1
    },
    {
        "id": "4c72644b.b416ac",
        "type": "debug",
        "z": "e82a8e.ce27057",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 180,
        "wires": []
    },
    {
        "id": "75efcfa4.6e3e7",
        "type": "function",
        "z": "e82a8e.ce27057",
        "name": "+ time",
        "func": "var ahora = new Date();  // obtengo la fecha y hora actual en un objeto de la clase \"Date\"\nmsg.payload={};\n\n// coloco la fecha en el mensaje como un campo del payload\n\n\nmsg.payload.date=ahora.getTime(); \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 200,
        "wires": [
            [
                "74bd450.b932fbc"
            ]
        ]
    },
    {
        "id": "e09693b2.35b28",
        "type": "inject",
        "z": "e82a8e.ce27057",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "START001",
        "payloadType": "str",
        "x": 240,
        "y": 340,
        "wires": [
            [
                "c1afcc35.a2611",
                "b998414f.14efc"
            ]
        ]
    },
    {
        "id": "985e121a.b5ab",
        "type": "switch",
        "z": "e82a8e.ce27057",
        "name": "",
        "property": "data[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "64",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "65",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "66",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 550,
        "y": 280,
        "wires": [
            [
                "a7797e08.be4c4",
                "4e292876.dda298"
            ],
            [
                "69bf5e0.91124a4"
            ],
            [
                "69039992.5981c8"
            ]
        ]
    },
    {
        "id": "ed62e52b.674e98",
        "type": "debug",
        "z": "e82a8e.ce27057",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 340,
        "wires": []
    },
    {
        "id": "4e292876.dda298",
        "type": "debug",
        "z": "e82a8e.ce27057",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 420,
        "wires": []
    },
    {
        "id": "a7797e08.be4c4",
        "type": "function",
        "z": "e82a8e.ce27057",
        "name": "",
        "func": "var mensaje=msg;\n\nmsg={payload:{\"subId\":0}};\nmsg.payload.date=mensaje.payload.date\nmsg.payload.subId=mensaje.data[0];\nmsg.payload.oilPress=mensaje.data[1]*256 + mensaje.data[2];\nmsg.payload.engSpeed=mensaje.data[3]*256 + mensaje.data[4];\nmsg.payload.engSpeed=mensaje.data[5]*256 + mensaje.data[6];\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 200,
        "wires": [
            [
                "4c72644b.b416ac",
                "f6eedb32.f61278"
            ]
        ]
    },
    {
        "id": "69bf5e0.91124a4",
        "type": "function",
        "z": "e82a8e.ce27057",
        "name": "",
        "func": "var mensaje=msg;\nmsg={payload:{\"subId\":0}};\nmsg.payload.subId=mensaje.data[0];\nmsg.payload.date=mensaje.payload.date\nmsg.payload.AT1=mensaje.data[4];\nmsg.payload.AT2=mensaje.data[1];\nmsg.payload.oilPress=mensaje.data[2]*256 + mensaje.data[3];\nmsg.payload.engSpeed=mensaje.data[5]*256 + mensaje.data[6];\n\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 260,
        "wires": [
            [
                "4c72644b.b416ac",
                "948d0e17.2b79e",
                "f6eedb32.f61278",
                "ed62e52b.674e98"
            ]
        ]
    },
    {
        "id": "69039992.5981c8",
        "type": "function",
        "z": "e82a8e.ce27057",
        "name": "",
        "func": "var mensaje=msg;\nmsg={payload:{\"subId\":0}};\nmsg.payload.date=mensaje.payload.date\nmsg.payload.subId=mensaje.data[0];\nmsg.payload.oilPress=mensaje.data[1]*256 + mensaje.data[2];\nmsg.payload.engSpeed=mensaje.data[3]*256 + mensaje.data[4];\n\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 320,
        "wires": [
            [
                "4c72644b.b416ac",
                "f6eedb32.f61278"
            ]
        ]
    },
    {
        "id": "f6eedb32.f61278",
        "type": "csv",
        "z": "e82a8e.ce27057",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": true,
        "x": 1070,
        "y": 360,
        "wires": [
            [
                "ed62e52b.674e98",
                "b81738db.f9a158",
                "6ef98a19.c5e2c4",
                "2e602f3.9c873d"
            ]
        ]
    },
    {
        "id": "948d0e17.2b79e",
        "type": "change",
        "z": "e82a8e.ce27057",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.engSpeed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 240,
        "wires": [
            [
                "a1b46eb7.df7ac"
            ]
        ]
    },
    {
        "id": "6ef98a19.c5e2c4",
        "type": "file",
        "z": "e82a8e.ce27057",
        "name": "",
        "filename": "/home/pi/Logs/Log003.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1630,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a1b46eb7.df7ac",
        "type": "delay",
        "z": "e82a8e.ce27057",
        "name": "",
        "pauseType": "rate",
        "timeout": "30",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "0.2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1310,
        "y": 240,
        "wires": [
            [
                "7c2040f5.06477"
            ]
        ]
    },
    {
        "id": "6f29ff41.59cec",
        "type": "debug",
        "z": "819dfad1.81d098",
        "name": "Output",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 990,
        "y": 320,
        "wires": []
    },
    {
        "id": "d8014a2d.6177c8",
        "type": "debug",
        "z": "819dfad1.81d098",
        "name": "2nd Output",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1010,
        "y": 400,
        "wires": []
    },
    {
        "id": "f526b484.278dd8",
        "type": "debug",
        "z": "819dfad1.81d098",
        "name": "3rd Output",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1010,
        "y": 480,
        "wires": []
    },
    {
        "id": "f7cb99b5.e117c8",
        "type": "function",
        "z": "819dfad1.81d098",
        "name": "Array",
        "func": "var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, msg2, msg3, msg4];",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 220,
        "wires": [
            [
                "6f29ff41.59cec"
            ]
        ]
    },
    {
        "id": "c1c2a1e.d5f096",
        "type": "function",
        "z": "819dfad1.81d098",
        "name": "Array in Array",
        "func": "var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [[msg1, msg2, msg3, msg4]]",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 260,
        "wires": [
            [
                "6f29ff41.59cec"
            ]
        ]
    },
    {
        "id": "8bbd2ce1.4a081",
        "type": "function",
        "z": "819dfad1.81d098",
        "name": "Multiple returns",
        "func": "var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, msg2, msg3, msg4];\n",
        "outputs": "3",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 340,
        "wires": [
            [
                "6f29ff41.59cec"
            ],
            [
                "d8014a2d.6177c8"
            ],
            [
                "f526b484.278dd8"
            ]
        ]
    },
    {
        "id": "42f7478b.690db8",
        "type": "function",
        "z": "819dfad1.81d098",
        "name": "Multiple returns array in array",
        "func": "var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, [msg2, msg3], msg4];\n",
        "outputs": "3",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 400,
        "wires": [
            [
                "6f29ff41.59cec"
            ],
            [
                "d8014a2d.6177c8"
            ],
            [
                "f526b484.278dd8"
            ]
        ]
    },
    {
        "id": "b49270fb.fc6bd",
        "type": "function",
        "z": "819dfad1.81d098",
        "name": "Create JSON Object",
        "func": "msg.payload = {\"a\" : { \"b\" : \"test\"}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 480,
        "wires": [
            [
                "6f29ff41.59cec",
                "c5f43b9a.3fe868"
            ]
        ]
    },
    {
        "id": "cd89e478.0bc648",
        "type": "function",
        "z": "819dfad1.81d098",
        "name": "Create JSON String",
        "func": "msg.payload = '{\"a\" : { \"b\" : \"test\"}}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 520,
        "wires": [
            [
                "6f29ff41.59cec",
                "c5f43b9a.3fe868"
            ]
        ]
    },
    {
        "id": "e26a0f37.00e3f",
        "type": "function",
        "z": "819dfad1.81d098",
        "name": "Create JSON String in msg.payload",
        "func": "msg.payload = '{\"a\" : { \"b\" : \"test\"}}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 560,
        "wires": [
            [
                "6f29ff41.59cec",
                "153281d6.24101e"
            ]
        ]
    },
    {
        "id": "1dc45065.31958",
        "type": "function",
        "z": "819dfad1.81d098",
        "name": "return string in object",
        "func": "return {\"payload\" : \"Hello Coursera\"};",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 120,
        "wires": [
            [
                "6f29ff41.59cec"
            ]
        ]
    },
    {
        "id": "153281d6.24101e",
        "type": "json",
        "z": "819dfad1.81d098",
        "name": "",
        "x": 630,
        "y": 560,
        "wires": [
            [
                "d8014a2d.6177c8",
                "c5f43b9a.3fe868"
            ]
        ]
    },
    {
        "id": "c5f43b9a.3fe868",
        "type": "function",
        "z": "819dfad1.81d098",
        "name": "retrieve data from Object",
        "func": "msg.payload = msg.payload.a.b;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 790,
        "y": 470,
        "wires": [
            [
                "f526b484.278dd8"
            ]
        ]
    },
    {
        "id": "43b1dd27.aa6c94",
        "type": "inject",
        "z": "819dfad1.81d098",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "f7cb99b5.e117c8"
            ]
        ]
    },
    {
        "id": "fea61cf1.c8ccd",
        "type": "inject",
        "z": "819dfad1.81d098",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "c1c2a1e.d5f096"
            ]
        ]
    },
    {
        "id": "882d726a.edaca",
        "type": "inject",
        "z": "819dfad1.81d098",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "8bbd2ce1.4a081"
            ]
        ]
    },
    {
        "id": "175090c4.a039df",
        "type": "inject",
        "z": "819dfad1.81d098",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "42f7478b.690db8"
            ]
        ]
    },
    {
        "id": "5976138c.be071c",
        "type": "inject",
        "z": "819dfad1.81d098",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "b49270fb.fc6bd"
            ]
        ]
    },
    {
        "id": "d6e30f31.b473e",
        "type": "inject",
        "z": "819dfad1.81d098",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "cd89e478.0bc648"
            ]
        ]
    },
    {
        "id": "7e19bfe3.9baf8",
        "type": "inject",
        "z": "819dfad1.81d098",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "e26a0f37.00e3f"
            ]
        ]
    },
    {
        "id": "ef77708f.2bb1",
        "type": "inject",
        "z": "819dfad1.81d098",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "1dc45065.31958"
            ]
        ]
    },
    {
        "id": "353e6149.6c8eee",
        "type": "function",
        "z": "819dfad1.81d098",
        "name": "Status and logging functions",
        "func": "node.status({text:\"started\"});\n\nsetTimeout(function() {\n    node.status({fill:\"red\",shape:\"ring\",text:\"stage 1\"});\n    \n    setTimeout(function() {\n        node.status({fill:\"green\",shape:\"dot\",text:\"stage 2\"});\n        node.error(\"This is an error\", {'payload' : 'Caught error'});\n        \n        setTimeout(function() {\n            node.error(\"Second error\");\n            node.status({});\n            node.send({'payload' : 'Completed'});\n        }, 1000);\n        \n    }, 1000);\n    \n}, 1000);\n\nnode.warn(\"Exiting node\");\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 620,
        "wires": [
            [
                "6f29ff41.59cec"
            ]
        ]
    },
    {
        "id": "3b27f9c3.a1e256",
        "type": "inject",
        "z": "819dfad1.81d098",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "353e6149.6c8eee"
            ]
        ]
    },
    {
        "id": "9b03212a.9a7a2",
        "type": "catch",
        "z": "819dfad1.81d098",
        "name": "Catch node",
        "scope": [
            "353e6149.6c8eee"
        ],
        "x": 470,
        "y": 660,
        "wires": [
            [
                "e5700573.1a1d38"
            ]
        ]
    },
    {
        "id": "9647606d.318a",
        "type": "function",
        "z": "819dfad1.81d098",
        "name": "return string",
        "func": "return 'This is a string';",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 80,
        "wires": [
            [
                "6f29ff41.59cec"
            ]
        ]
    },
    {
        "id": "ca488d8e.4f4c",
        "type": "inject",
        "z": "819dfad1.81d098",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "9647606d.318a"
            ]
        ]
    },
    {
        "id": "e5700573.1a1d38",
        "type": "debug",
        "z": "819dfad1.81d098",
        "name": "entire msg",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1010,
        "y": 560,
        "wires": []
    },
    {
        "id": "9f5e8561.2cd5e8",
        "type": "inject",
        "z": "e86feed2.4c8c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "60",
        "payloadType": "str",
        "x": 600,
        "y": 300,
        "wires": [
            [
                "749ca2d5.5565cc"
            ]
        ]
    },
    {
        "id": "a41bf9bc.c66d38",
        "type": "inject",
        "z": "e86feed2.4c8c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "7",
        "payloadType": "num",
        "x": 510,
        "y": 540,
        "wires": [
            [
                "ebc4f5ec.8ed048"
            ]
        ]
    },
    {
        "id": "bae25503.938648",
        "type": "debug",
        "z": "e86feed2.4c8c3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 540,
        "wires": []
    },
    {
        "id": "749ca2d5.5565cc",
        "type": "rpi-neopixels",
        "z": "e86feed2.4c8c3",
        "name": "",
        "gpio": 18,
        "pixels": "8",
        "bgnd": "black",
        "fgnd": "green",
        "wipe": "20",
        "mode": "pcent",
        "rgb": "grb",
        "brightness": "100",
        "gamma": false,
        "x": 870,
        "y": 300,
        "wires": []
    },
    {
        "id": "924c0cb8.d2ec8",
        "type": "inject",
        "z": "e86feed2.4c8c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "7",
        "payloadType": "num",
        "x": 470,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "d2e09d8.f07bd6",
        "type": "debug",
        "z": "e86feed2.4c8c3",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1190,
        "y": 800,
        "wires": []
    },
    {
        "id": "8f39b421.28c438",
        "type": "function",
        "z": "e86feed2.4c8c3",
        "name": "process i2c",
        "func": "var data = msg.payload;\nvar int16 = function(high, low) {\n  var result = (high << 8) | low;\n  // if highest bit is on, it is negative\n  return result >> 15 ? ((result ^ 0xFFFF) + 1) * -1 : result;\n};\n\n\nmsg.payload = {\n    accelerometer : {\n        x: int16(data[0], data[1]),\n        y: int16(data[2], data[3]),\n        z: int16(data[4], data[5])\n    },\n    temperature : int16(data[6], data[7]),\n    gyro : {\n        x: int16(data[8], data[9]),\n        y: int16(data[10], data[11]),\n        z: int16(data[12], data[13])\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1005,
        "y": 726,
        "wires": [
            [
                "d2e09d8.f07bd6"
            ]
        ]
    },
    {
        "id": "459c178f.d23a88",
        "type": "inject",
        "z": "e86feed2.4c8c3",
        "name": "",
        "props": [
            {
                "p": "bytes",
                "v": "14",
                "vt": "num"
            },
            {
                "p": "address",
                "v": "105",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 449,
        "y": 730,
        "wires": [
            [
                "c4e4112a.27af7"
            ]
        ]
    },
    {
        "id": "965baaba.667cf8",
        "type": "inject",
        "z": "e86feed2.4c8c3",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "x": 420,
        "y": 811,
        "wires": [
            [
                "903ada88.69e208"
            ]
        ]
    },
    {
        "id": "903ada88.69e208",
        "type": "function",
        "z": "e86feed2.4c8c3",
        "name": "i2c bytes",
        "func": "msg.command = [0x6B, 0x00];\nmsg.address= 105 ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 880,
        "wires": [
            [
                "f9a8610d.3becf"
            ]
        ]
    },
    {
        "id": "7c2040f5.06477",
        "type": "link out",
        "z": "e82a8e.ce27057",
        "name": "RPM_out",
        "links": [
            "27b58198.37265e"
        ],
        "x": 1465,
        "y": 160,
        "wires": []
    },
    {
        "id": "27b58198.37265e",
        "type": "link in",
        "z": "e86feed2.4c8c3",
        "name": "RPM_in",
        "links": [
            "7c2040f5.06477"
        ],
        "x": 255,
        "y": 300,
        "wires": [
            [
                "a2092f7c.75149"
            ]
        ]
    },
    {
        "id": "1e47ea8c.85c465",
        "type": "function",
        "z": "e86feed2.4c8c3",
        "name": "",
        "func": "var RPM = msg.payload;\nvar Led = 8;\nvar level;\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6 = {};\nvar msg7 = {};\nvar msg8 = {};\n\n\nlevel=Math.round(Led*RPM/12000);\nmsg.payload=level;\nif(level>0){\n    msg1.payload=\"1,50,0,0\";\n}\nelse\n    msg1.payload=\"1,0,0,0\";\nif(level>2){\n    msg2.payload=\"2,50,0,0\";\n}\nelse\n    msg2.payload=\"2,0,0,0\";\nif(level>3){\n    msg3.payload=\"3,50,0,0\";\n}\nelse\n    msg3.payload=\"3,0,0,0\";\nif(level>4){\n    msg4.payload=\"4,50,0,0\";\n}\nelse\n    msg4.payload=\"4,0,0,0\";\nif(level>5){\n    msg5.payload=\"5,50,0,0\";\n}\nelse\n    msg5.payload=\"5,0,0,0\";\nif(level>6){\n    msg6.payload=\"6,50,50,0\";\n}\nelse\n    msg6.payload=\"6,0,0,0\";\nif(level>7){\n    msg7.payload=\"7,0,50,0\";\n}\nelse\n    msg7.payload=\"7,0,0,0\";\nif(level>8){\n    msg8.payload=\"8,0,50,0\";\n}\nelse\n    msg8.payload=\"8,0,0,0\";\n\n\nreturn [msg,[msg1,msg2,msg3,msg4,msg5,msg6,msg7,msg8]];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c4e659fa.6375d8",
        "type": "debug",
        "z": "e86feed2.4c8c3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 60,
        "wires": []
    },
    {
        "id": "514e6c32.63c654",
        "type": "inject",
        "z": "e86feed2.4c8c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "str",
        "x": 590,
        "y": 340,
        "wires": [
            [
                "749ca2d5.5565cc"
            ]
        ]
    },
    {
        "id": "fa85f09.c33611",
        "type": "inject",
        "z": "e86feed2.4c8c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "80",
        "payloadType": "str",
        "x": 590,
        "y": 380,
        "wires": [
            [
                "749ca2d5.5565cc"
            ]
        ]
    },
    {
        "id": "1480a095.b8f90f",
        "type": "inject",
        "z": "e86feed2.4c8c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5,0,50,0",
        "payloadType": "str",
        "x": 390,
        "y": 440,
        "wires": [
            [
                "749ca2d5.5565cc"
            ]
        ]
    },
    {
        "id": "4fac36a9.b9dd08",
        "type": "inject",
        "z": "e86feed2.4c8c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6,0,50,0",
        "payloadType": "str",
        "x": 390,
        "y": 480,
        "wires": [
            [
                "749ca2d5.5565cc"
            ]
        ]
    },
    {
        "id": "df41eb08.fb5f78",
        "type": "inject",
        "z": "e86feed2.4c8c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4,50,0,0",
        "payloadType": "str",
        "x": 390,
        "y": 400,
        "wires": [
            [
                "749ca2d5.5565cc"
            ]
        ]
    },
    {
        "id": "c34344a7.9a5f38",
        "type": "function",
        "z": "e86feed2.4c8c3",
        "name": "",
        "func": "var RPM = msg.payload;\nvar level;\nlevel=Math.round(RPM/60);\n\n\n\nmsg.payload=level;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a2092f7c.75149",
        "type": "delay",
        "z": "e86feed2.4c8c3",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "0.1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 380,
        "y": 300,
        "wires": [
            [
                "339074a6.80cf6c",
                "e65ffaef.a773e8"
            ]
        ]
    },
    {
        "id": "339074a6.80cf6c",
        "type": "function",
        "z": "e86feed2.4c8c3",
        "name": "",
        "func": "var RPM = msg.payload;\nvar Led = 8;\nvar level;\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6 = {};\nvar msg7 = {};\nvar msg8 = {};\n\n\nlevel=Led*RPM*2/12000;\nmsg.payload=level;\n\nif(level>0 && level <2){\n    msg1.payload=\"0,50,0,0\";\n}\nif(level>2){\n    msg1.payload=\"0,100,0,0\";\n}\nelse\n    msg1.payload=\"0,0,0,0\";\n    \nif(level>3 && level <4){\n    msg2.payload=\"1,50,0,0\";\n}    \nif(level>4){\n    msg2.payload=\"1,100,0,0\";\n}\nelse\n    msg2.payload=\"1,0,0,0\";\n    \nif(level>5 && level <6){\n    msg3.payload=\"2,50,0,0\";\n}       \nif(level>6){\n    msg3.payload=\"2,100,0,0\";\n}\nelse\n    msg3.payload=\"2,0,0,0\";\n    \nif(level>7 && level <8){\n    msg4.payload=\"3,50,0,0\";\n}       \nif(level>8){\n    msg4.payload=\"3,100,0,0\";\n}\nelse\n    msg4.payload=\"3,0,0,0\";\n    \nif(level>9 && level <10){\n    msg5.payload=\"4,50,0,0\";\n}       \nif(level>10){\n    msg5.payload=\"4,100,0,0\";\n}\nelse\n    msg5.payload=\"4,0,0,0\";\n    \nif(level>11 && level <12){\n    msg6.payload=\"5,50,50,0\";\n}       \nif(level>12){\n    msg6.payload=\"5,100,100,0\";\n}\nelse\n    msg6.payload=\"5,0,0,0\";\n    \nif(level>13 && level <14){\n    msg7.payload=\"6,0,50,0\";\n}       \nif(level>14){\n    msg7.payload=\"6,0,100,0\";\n}\nelse\n    msg7.payload=\"6,0,0,0\";\n    \nif(level>15 && level <16){\n    msg8.payload=\"7,0,50,0\";\n}       \nif(level>16){\n    msg8.payload=\"7,0,100,0\";\n}\nelse\n    msg8.payload=\"7,0,0,0\";\n\n\nreturn [msg,[msg1,msg2,msg3,msg4,msg5,msg6,msg7,msg8]];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 40,
        "wires": [
            [
                "c4e659fa.6375d8"
            ],
            [
                "749ca2d5.5565cc"
            ]
        ]
    },
    {
        "id": "e65ffaef.a773e8",
        "type": "function",
        "z": "e86feed2.4c8c3",
        "name": "",
        "func": "var RPM = msg.payload;\nvar Led = 8;\nvar level;\nvar bri;\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6 = {};\nvar msg7 = {};\nvar msg8 = {};\n\n\nlevel=Led*RPM/12000;\nbri=Math.round(100*Math.abs(level-Math.round(level)));\nmsg.payload=bri;\nif(level>0){\n    msg1.payload=\"1,50,0,0\";\n}\nelse\n    msg1.payload=\"1,0,0,0\";\nif(level>2){\n    msg2.payload=\"2,50,0,0\";\n}\nelse\n    msg2.payload=\"2,0,0,0\";\nif(level>3){\n    msg3.payload=\"3,50,0,0\";\n}\nelse\n    msg3.payload=\"3,0,0,0\";\nif(level>4){\n    msg4.payload=\"4,50,0,0\";\n}\nelse\n    msg4.payload=\"4,0,0,0\";\nif(level>5){\n    msg5.payload=\"5,50,0,0\";\n}\nelse\n    msg5.payload=\"5,0,0,0\";\nif(level>6){\n    msg6.payload=\"6,50,50,0\";\n}\nelse\n    msg6.payload=\"6,0,0,0\";\nif(level>7){\n    msg7.payload=\"7,0,50,0\";\n}\nelse\n    msg7.payload=\"7,0,0,0\";\nif(level>8){\n    msg8.payload=\"8,0,50,0\";\n}\nelse\n    msg8.payload=\"8,0,0,0\";\n\n\nreturn [msg,[msg1,msg2,msg3,msg4,msg5,msg6,msg7,msg8]];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b81738db.f9a158",
        "type": "switch",
        "z": "e82a8e.ce27057",
        "name": "",
        "property": "IsRecording",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1240,
        "y": 420,
        "wires": [
            [
                "2e602f3.9c873d"
            ]
        ]
    },
    {
        "id": "59e4700f.ff55f",
        "type": "inject",
        "z": "e82a8e.ce27057",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1090,
        "y": 500,
        "wires": [
            [
                "224df988.5b3576"
            ]
        ]
    },
    {
        "id": "224df988.5b3576",
        "type": "change",
        "z": "e82a8e.ce27057",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "IsRecording",
                "pt": "global",
                "from": "true",
                "fromt": "bool",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "IsRecording",
                "pt": "global",
                "from": "false",
                "fromt": "bool",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "2e602f3.9c873d",
        "type": "debug",
        "z": "e82a8e.ce27057",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 420,
        "wires": []
    },
    {
        "id": "74bd450.b932fbc",
        "type": "debug",
        "z": "e82a8e.ce27057",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "dc567db4.1afd3",
        "type": "candump",
        "z": "e82a8e.ce27057",
        "name": "candump",
        "vconfig": "bffcdf85.8586f",
        "x": 240,
        "y": 280,
        "wires": [
            [
                "75efcfa4.6e3e7",
                "985e121a.b5ab"
            ]
        ]
    },
    {
        "id": "c1afcc35.a2611",
        "type": "cansend",
        "z": "e82a8e.ce27057",
        "config": "9ce5f961.9dba48",
        "canid": "295",
        "payload": "",
        "x": 380,
        "y": 340,
        "wires": []
    },
    {
        "id": "ebc4f5ec.8ed048",
        "type": "i2c scan",
        "z": "e86feed2.4c8c3",
        "name": "",
        "busno": "1",
        "x": 650,
        "y": 540,
        "wires": [
            [
                "bae25503.938648"
            ],
            []
        ]
    },
    {
        "id": "bbd68523.bf7d58",
        "type": "i2c scan",
        "z": "e86feed2.4c8c3",
        "name": "",
        "busno": "1",
        "x": 900,
        "y": 800,
        "wires": [
            [
                "d2e09d8.f07bd6"
            ],
            []
        ]
    },
    {
        "id": "c4e4112a.27af7",
        "type": "i2c in",
        "z": "e86feed2.4c8c3",
        "name": "",
        "busno": "1",
        "address": "",
        "command": "",
        "count": "14",
        "x": 790,
        "y": 740,
        "wires": [
            [
                "8f39b421.28c438",
                "d2e09d8.f07bd6"
            ]
        ]
    },
    {
        "id": "f9a8610d.3becf",
        "type": "i2c out",
        "z": "e86feed2.4c8c3",
        "name": "",
        "busno": "1",
        "address": "",
        "command": "",
        "payload": "payload",
        "payloadType": "msg",
        "count": "1",
        "x": 870,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "54280ed3.7498c",
        "type": "ncd-ads1115",
        "z": "e86feed2.4c8c3",
        "name": "",
        "connection": "9d30e79e.001108",
        "addr": "72",
        "interval": "50",
        "outputs": 1,
        "output_all": 0,
        "output_mult": 1,
        "channel_1": "4",
        "channel_2": "_none",
        "channel_3": "_none",
        "channel_4": "_none",
        "gain": 2,
        "mode": 1,
        "rate": "0",
        "compMode": 0,
        "compPol": 0,
        "compLat": 0,
        "compQueue": 3,
        "delay": "100",
        "x": 650,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "f86210ab.cbf13",
        "type": "ui_ui_control",
        "z": "e82a8e.ce27057",
        "name": "",
        "events": "change",
        "x": 400,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "365b5b34.ebcb44",
        "type": "inject",
        "z": "e82a8e.ce27057",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "tab2",
        "payloadType": "str",
        "x": 210,
        "y": 640,
        "wires": [
            [
                "f86210ab.cbf13"
            ]
        ]
    },
    {
        "id": "9d4a1ea7.491a3",
        "type": "inject",
        "z": "e82a8e.ce27057",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "RPM",
        "payloadType": "str",
        "x": 210,
        "y": 580,
        "wires": [
            [
                "f86210ab.cbf13"
            ]
        ]
    },
    {
        "id": "43223dd1.233994",
        "type": "inject",
        "z": "e82a8e.ce27057",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "str",
        "x": 230,
        "y": 900,
        "wires": [
            [
                "853640b7.36e38"
            ]
        ]
    },
    {
        "id": "853640b7.36e38",
        "type": "ui_template",
        "z": "e82a8e.ce27057",
        "group": "273f8539.ca9a0a",
        "name": "Marcha",
        "order": 3,
        "width": "5",
        "height": "5",
        "format": "\n\n<html>\n<body>\n<p style=\"text-align: center;\">   \n<span style=\"font-size: 148px;\">  {{msg.payload}} </span>\n</p>\n\n</body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 500,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "dc782434.fbfcc8",
        "type": "inject",
        "z": "e82a8e.ce27057",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "240",
        "payloadType": "num",
        "x": 210,
        "y": 1060,
        "wires": [
            [
                "e69d7450.821e38"
            ]
        ]
    },
    {
        "id": "16287e9f.b64491",
        "type": "ui_template",
        "z": "e82a8e.ce27057",
        "group": "b88fa9a0.2e20c8",
        "name": "Temperature",
        "order": 4,
        "width": "6",
        "height": "2",
        "format": "<div style=\"text-align: center;\">   \n<p>\n<span id=\"change1\" style=\"font-size: 60px;\">  {{msg.payload.Temperature}} </span>\n<span id=\"change2\" style=\"font-size: 60px;\"> ºC </span>\n</p>\n</div>\n\n<script>\n(function(scope){\n    \n\n    scope.$watch('msg',function (msg){\n        \n       myData = msg;\n       var div = document.getElementById('change1');\n       div.style.backgroundColor = myData.payload.Color;\n    \n       var div = document.getElementById('change2');\n       div.style.backgroundColor = myData.payload.Color;\n       \n    });\n\n})(scope);\n\n</script>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 590,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "6aaddd42.9117a4",
        "type": "function",
        "z": "e82a8e.ce27057",
        "name": "color fondo",
        "func": "var valor = msg.payload.Temperature;\nmsg.payload={};\n\nif (valor >= 0 && valor <= 40){\n    msg.payload.Color= \"green\";\n}\nelse if (valor > 40 && valor <= 80){\nmsg.payload.Color= \"blue\";\n}\nelse if (valor > 80 && valor <= 120){\nmsg.payload.Color= \"red\";\n}\nmsg.payload.Temperature= valor;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 740,
        "wires": [
            [
                "16287e9f.b64491",
                "a40493b1.5e17d"
            ]
        ]
    },
    {
        "id": "a40493b1.5e17d",
        "type": "debug",
        "z": "e82a8e.ce27057",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 780,
        "wires": []
    },
    {
        "id": "e69d7450.821e38",
        "type": "ui_template",
        "z": "e82a8e.ce27057",
        "group": "273f8539.ca9a0a",
        "name": "engSpeed",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "\n\n<html>\n<body >\n<style> #RPM_engSpeed { \n    background-color:\"#FF000\";\n    } \n</style>\n\n\n<p  style=\"text-align: center;\">  \n<span style=\"font-size: 48px;\">  {{msg.payload.valor}} RPM </span>\n</p>\n\n</body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 530,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "3df45eff.9d3c72",
        "type": "ui_text",
        "z": "e82a8e.ce27057",
        "group": "b88fa9a0.2e20c8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "CANBUS",
        "label": "<font-size=24>CANBUS",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 500,
        "y": 940,
        "wires": []
    },
    {
        "id": "c8680c26.3a2e5",
        "type": "inject",
        "z": "e82a8e.ce27057",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "FALSE",
        "payloadType": "str",
        "x": 230,
        "y": 940,
        "wires": [
            [
                "3df45eff.9d3c72",
                "13ac33cd.4c8b9c"
            ]
        ]
    },
    {
        "id": "13ac33cd.4c8b9c",
        "type": "ui_text",
        "z": "e82a8e.ce27057",
        "group": "b88fa9a0.2e20c8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Telemetry",
        "label": "<font-size = 14>Telemetry",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 500,
        "y": 980,
        "wires": []
    },
    {
        "id": "18ab4787.c57fc8",
        "type": "ui_template",
        "z": "e82a8e.ce27057",
        "group": "b88fa9a0.2e20c8",
        "name": "OilPress",
        "order": 5,
        "width": "6",
        "height": "2",
        "format": "<div style=\"text-align: center;\">   \n<p>\n<span id=\"change3\" style=\"font-size: 38px;\"> Oil Press </span> \n<span id=\"change4\" style=\"font-size: 38px;\">  {{msg.payload.OilPress}} </span>\n<span id=\"change5\" style=\"font-size: 38px;\"> KPa </span>\n</p>\n</div>\n\n<script>\n(function(scope){\n    \n\n    scope.$watch('msg',function (msg){\n        \n       myData = msg;\n       var div = document.getElementById('change3');\n       div.style.backgroundColor = myData.payload.Color;\n    \n       var div = document.getElementById('change4');\n       div.style.backgroundColor = myData.payload.Color;\n       \n       var div = document.getElementById('change5');\n       div.style.backgroundColor = myData.payload.Color;\n       \n    });\n\n})(scope);\n\n</script>\n\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 600,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "401d6496.f40d4c",
        "type": "function",
        "z": "e82a8e.ce27057",
        "name": "Aviso Temp",
        "func": "var valor = msg.payload.Temperature;\nmsg.payload={};\n\nif (valor >= 0 && valor < 80){\n    msg.payload=true;\n}\nelse if (valor >= 80){\n    msg.payload=false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 680,
        "wires": [
            [
                "a05f1296.25cc7"
            ]
        ]
    },
    {
        "id": "a8cdf5e1.4f2778",
        "type": "inject",
        "z": "e82a8e.ce27057",
        "name": "",
        "props": [
            {
                "p": "payload.Temperature",
                "v": "58",
                "vt": "num"
            },
            {
                "p": "payload.OilPress",
                "v": "58",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 210,
        "y": 700,
        "wires": [
            [
                "401d6496.f40d4c",
                "6aaddd42.9117a4",
                "b58ac9d9.fa2988"
            ]
        ]
    },
    {
        "id": "4ddb394a.c9ddb8",
        "type": "ui_template",
        "z": "e82a8e.ce27057",
        "group": "dc3b5974.450658",
        "name": "FONDO",
        "order": 2,
        "width": 18,
        "height": 9,
        "format": "\n \n <img width=\"100%\" height=\"100%\" alt=\"Image not found\" src=\"data:image/jpeg;base64,{{msg.payload}}\" />\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 740,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "5324336d.11f67c",
        "type": "base64",
        "z": "e82a8e.ce27057",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 600,
        "y": 460,
        "wires": [
            [
                "4ddb394a.c9ddb8"
            ]
        ]
    },
    {
        "id": "b998414f.14efc",
        "type": "file in",
        "z": "e82a8e.ce27057",
        "name": "",
        "filename": "/home/pi/Pictures/fondomart.jpeg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 380,
        "y": 460,
        "wires": [
            [
                "5324336d.11f67c"
            ]
        ]
    },
    {
        "id": "a05f1296.25cc7",
        "type": "ui_led",
        "z": "e82a8e.ce27057",
        "order": 2,
        "group": "50424f91.133e2",
        "width": "6",
        "height": "2",
        "label": "<font size = 11>Alarma Temp",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Temp",
        "x": 590,
        "y": 660,
        "wires": []
    },
    {
        "id": "4ca168ab.7fce08",
        "type": "ui_template",
        "z": "e82a8e.ce27057",
        "group": "50424f91.133e2",
        "name": "Speed",
        "order": 4,
        "width": "6",
        "height": "2",
        "format": "\n\n<html>\n<body >\n\n<p style=\"font-size: 24px;\"> Speed: &nbsp;\n<span style=\"font-size: 58px;\">  {{msg.payload}} </span>\n<span style=\"font-size: 24px;\"> Km/h </span>\n</p>\n\n</body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 510,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "15fc57f2.eebae8",
        "type": "inject",
        "z": "e82a8e.ce27057",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "60",
        "payloadType": "num",
        "x": 210,
        "y": 1100,
        "wires": [
            [
                "4ca168ab.7fce08"
            ]
        ]
    },
    {
        "id": "b58ac9d9.fa2988",
        "type": "function",
        "z": "e82a8e.ce27057",
        "name": "color fondo",
        "func": "var valor = msg.payload.OilPress;\nmsg.payload={};\n\nif (valor >= 0 && valor <= 40){\n    msg.payload.Color= \"green\";\n}\nelse if (valor > 40 && valor <= 80){\nmsg.payload.Color= \"blue\";\n}\nelse if (valor > 80 && valor <= 120){\nmsg.payload.Color= \"red\";\n}\nmsg.payload.OilPress= valor;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 840,
        "wires": [
            [
                "18ab4787.c57fc8"
            ]
        ]
    }
]